:root{
  --tabs: rgb(128, 151, 215);
  --background-color: rgb(6, 11, 25);
  --border-color: rgb(255, 255, 255, 0.1);
  --highlight-color: rgb(126, 87, 194);
}
/* Animations */
@keyframes transition{
  from{
    opacity: 0;

  }
  to{
    opacity: 1;

  }
}

@keyframes navbarTransition{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* main */
h1{
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-size: 9vmin;
}
body{
  background-color:black;
  color: aliceblue;
  font-family: 'Source Sans Pro';
}
.container{
  padding: 10px;
  animation: transition 700ms;
  transition: 500ms ease 100ms
}
::-webkit-scrollbar{
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 50%, #FFCC70 99%);
}
::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background: transparent;
    box-shadow: 0px 0px 0px 100000vh black;

}


/* Navbar */
.navbar-brand{
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 4vmin;
}
.navbar{
  border-radius: 25px;
  padding: 0 5px;
  backdrop-filter: blur(3px);
  animation: navbarTransition 700ms;
}
.nav-link{
  font-family: "Source Sans Pro";
  font-weight: 600;
}
.drdo{
  background-color: transparent;
  backdrop-filter: blur(10px);
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

/* Title */

.landing{
  text-align: center;
}
.hero{
  font-family:'Source Sans Pro';
  font-size: 20vmin;
}
.title-disc{
  font-size: 3vmin;
}
.logo{
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 10%, #FFCC70 50%);
  -webkit-background-clip: text;
  color: transparent;
}
.titles{
  font-family: 'Krona One';
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.pfp{
  width: 50%;
  border-radius: 0 0 400px 400px;
}

/* Subhead */

.lead{
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 4vmin;
}
.kashme{
  border-radius: 400px 400px 10px 10px ;
}


/* Gear */
.came{
  border-radius: 10px 10px 400px 400px;
}


/* Album Page */
h5{
  color: white;
  font-weight: 600;
  font-size: 3rem;
}
.carousel-inner{
  border-radius: 40px;
}


/* Best Clicks */
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(216, 188, 250);
  border-width: 10px;
  margin: 80px auto;
  width: 5%
}
.image{
  border-radius: 20px;
  padding: 10px;
}
.wrap img{
  transition: 500ms ease 100ms
}
.wrap:hover .image:not(:hover){
  filter: blur(4px);
}
.image:hover{
  transform: scale(1.04);
  z-index: 10;
}


/* Contact */
.cimg1{
  border-radius: 400px 400px 10px 10px;
  width: 90%;
}
.cimg2{
  border-radius: 10px 10px 400px 400px;
  width: 90%;
}
.it{
  background-color: transparent;
}
.leadx{
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 4vmin;
}
.textx{
  padding: 50px;
}
.contact{
  padding: 30px;
}


/* For Galleries */
.full-img{
  background-color: transparent;
  backdrop-filter: blur(8px);
}
.gallery{
  padding: 0 50px;
}

